.my-account{
    height: 15rem;
    width: 100%;
}
.my-account-card{
    width: 30rem;
    padding: 1rem 3rem 3rem 3rem;
    margin: 0 auto;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.my-account-input{
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.my-account-button{
    margin: 0 auto;
    width: 20rem;
}
.my-account-button button{
    width: 100%;
}
.my-account-hint, .my-account-switch{
    color: darkgrey;
}
