.order-completed{
    height: 15rem;
    width: 100%;
}
.order-completed-content{
    margin-left: 23rem;
    width: 60rem;
    position: relative;
}
.order-completed-content-image{
    width: 100%;
}
.order-completed-continue-button{
    height: 3rem;
    top: 17rem;
    left: 23.5rem;
    position: absolute;
}