.latest-title{
    text-align: center;
    margin: 2rem 0 2rem 0;
}
.latest-links{
    text-align: center;
}
.latest-link{
    margin: 0 2rem 0 2rem;
}
.latest-list{
    margin-left: 15rem;
    display: flex;
    flex-wrap: wrap;
}
.latest-item{
    width: 20rem;
    margin: 1rem;
}
.latest-item-image{
    width: 100%;
    height: 15rem;
}
.latest-item-originalPrice{
    float: right; 
    color: red; 
    text-decoration: line-through;
}
.latest-item-price{
    float: right;
}