.copyright{
    background-color: #e6e4f6; 
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}
.copyright-content{
    color: darkgray;
    font-weight: bold;
    align-self: center;
}
.copyright-button{
    color: #ffffff;
    background-color: rgb(20, 20, 110);
    margin-right: 0.5rem;
}